In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv("C:\\Users\\amith\\Documents\\GitHub\\kaggle_2\\Quality of Life Index by Country\\quality_of_life_indices_by_country.csv")
df["Climate Index"] = df["Climate Index"].str.replace("-","0")
df["Climate Index"] = df["Climate Index"].astype("float64")
df.head()

,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Year
0,1,Switzerland,222.9,146.5,73.2,66.3,126.0,7.3,25.6,24.1,0.0,2015
1,2,Germany,195.9,111.8,71.5,75.6,76.3,6.6,31.1,28.3,0.0,2015
2,3,Sweden,193.9,110.9,57.9,76.3,82.9,9.2,26.9,15.1,0.0,2015
3,4,United States,192.5,126.1,50.0,67.8,76.5,2.6,36.0,31.4,0.0,2015
4,5,Finland,190.2,101.2,70.5,69.4,89.7,7.0,33.2,14.9,0.0,2015

In [23]:
df_overall = df.groupby("Country")[["Quality of Life Index", "Purchasing Power Index", "Safety Index", "Health Care Index", "Cost of Living Index", "Property Price to Income Ratio", "Traffic Commute Time Index", "Pollution Index", "Climate Index"]].mean().round(2).reset_index()
df_overall = df_overall.sort_values("Quality of Life Index",ascending=False).reset_index(drop=True).reset_index()
df_overall = df_overall.rename(columns={"index":"Rank"})
df_overall["Rank"] = df_overall["Rank"] + 1
df_overall.head(10)

,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,1,Switzerland,197.97,130.12,76.82,72.03,121.90,9.56,28.88,21.76,70.05
1,2,Denmark,197.16,111.06,75.06,79.15,84.32,6.73,28.32,23.56,71.60
2,3,Luxembourg,191.26,124.91,65.26,74.16,72.93,11.46,29.14,22.91,82.60
3,4,Finland,191.20,106.86,74.32,75.46,73.43,7.88,30.49,12.88,49.10
4,5,Netherlands,189.38,103.48,71.26,76.04,73.95,7.07,29.82,26.96,75.60
5,6,Germany,186.65,114.16,65.03,74.09,66.94,8.72,30.68,28.32,70.73
6,7,Austria,186.42,93.02,75.58,78.09,71.30,10.28,26.01,23.54,67.84
7,8,Iceland,185.91,88.46,75.88,66.24,93.85,6.39,20.97,15.80,68.76
8,9,Australia,185.88,114.99,56.55,75.18,78.76,7.85,36.16,24.48,81.30
9,10,New Zealand,181.62,95.58,58.28,72.16,76.12,8.07,31.36,22.58,85.01

In [26]:
df_overall[df_overall["Country"]=="United States"]

,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
13,14,United States,178.02,120.28,51.56,68.53,72.42,3.65,33.64,34.95,68.3

In [27]:
df_overall[df_overall["Country"]=="India"]

,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
63,64,India,111.24,67.85,55.54,66.7,24.36,10.48,46.34,75.96,50.55

In [28]:
df_overall[df_overall["Country"]=="Bangladesh"]

,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
89,90,Bangladesh,62.28,28.32,36.69,42.45,30.53,13.02,57.49,86.35,66.02

In [10]:
df_each_country = {}
for i in df["Country"].unique():
    df_each_country[i] = df[df["Country"]==i]
df_each_country["Switzerland"].head()

,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Year
0,1,Switzerland,222.9,146.5,73.2,66.3,126.0,7.3,25.6,24.1,-,2015
86,1,Switzerland,285.8,210.0,73.8,66.5,124.5,8.1,24.9,24.3,-,2015/2
143,1,Switzerland,208.5,178.7,74.3,68.9,123.1,8.6,28.7,23.0,70.5,2016
200,2,Switzerland,196.4,153.9,75.6,69.9,125.7,9.3,27.4,21.7,63.4,2016/2
271,12,Switzerland,173.5,95.3,77.6,71.0,122.1,14.0,28.3,20.8,69.3,2017